<div class="">
  <%= f.label :definition, class: '' %>
  <%= f.text_field :definition, class: '' %>
  <a href="#" class='remove-field'>x</a>
  <div style='display: none'>
    <%= f.check_box :truthy, { checked: truthy } %>
  </div>
</div>

